<div class="correspondence_text">
  <%  if not attachments.nil? and attachments.size > 0 %>
    <div class="attachments">
      <div class="attachments__header">
        <h3><%= attachments.size %> <%= _('Attachments') %></h3>
      </div>
      <ul class="list-of-attachments">

      <% attachments.each do |a| %>
        <li class="attachment">
          <%
              attachment_path = get_attachment_path(:id => incoming_message.info_request_id,
                      :incoming_message_id => incoming_message.id, :part => a.url_part_number,
                      :file_name => a.display_filename)
              attachment_as_html_path = get_attachment_as_html_path(:id => incoming_message.info_request_id,
                      :incoming_message_id => incoming_message.id, :part => a.url_part_number,
                      :file_name => a.display_filename + '.html')
          %>

          <% img_filename = "icon_" + a.content_type.sub('/', '_') + "_large.png" %>
          <% full_filename = File.expand_path(Rails.root.join('app', 'assets', 'images', img_filename)) %>
          <% if File.exist?(full_filename) %>
            <%= link_to image_tag(img_filename, :class => "attachment__image", :alt => "Attachment"), attachment_path %>
          <% else %>
            <%= link_to image_tag("icon_unknown.png", :class => "attachment__image", :alt => "Attachment"), attachment_path %>
          <% end %>

          <p class="attachment__name"><%= h a.display_filename %></p>


          <p class="attachment__meta">
            <%= a.display_size %>
            <%= link_to "Download", attachment_path %>
            <% if a.has_body_as_html? && incoming_message.info_request.all_can_view? %>
              <%= link_to "View as HTML", attachment_as_html_path %>
            <% end %>
            <!-- (<%= a.content_type %>) -->
            <%= a.extra_note %>
          </p>

        </li>
      <% end %>

    </ul>
    <a href="#" title="" id="js-attachments__show-more" class="attachments__show-more"><%= _('View all attachments') %> (<span class="js-attachment-count"></span>)</a>
    <div class="attachments__footer">
      <a href="#" class="attachments__download-all"><%= _('Download all as .zip') %></a>
    </div>
  </div>
  <% end %>

  <p><%= body %></p>
  <script>
    var limit = 3;
    var per_page = 1000; //change this to enable 'pages' (reveal per_page at a time)

    jQuery('.list-of-attachments > .attachment:gt('+(limit-1)+')').hide();
    if (jQuery('.list-of-attachments > .attachment').length <= limit) {
        jQuery('#js-attachments__show-more').hide();
    }

    jQuery('.js-attachment-count').text((jQuery('.list-of-attachments > .attachment').length) - limit);

    jQuery('#js-attachments__show-more').bind('click', function(event){
        event.preventDefault();
        limit += per_page;
        jQuery('.list-of-attachments > .attachment:lt('+(limit)+')').show();

        if (jQuery('.list-of-attachments > .attachment').length <= limit) {
            jQuery(this).hide();
        }
    });
</script>
</div>
